.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.left-section {
  height: 50px;
  width: 300px;
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.menu-icon {
  width: 9%;
  margin-left: 6%;
}

.youtube-logo-icon {
  width: 32%;
  margin-left: 6%;
}

.middle-section {
  height: 50px;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-bar {
    width: 60%;
    height: 20px;
    border: solid;
    border-radius: 23px 0 0 23px;
    border-color: #cccccc;
    padding: 20px;
}

.search-bar::placeholder {
  font-size: 17px;
}

.search-button {
    width: 65px;
    height: 43px;
    border: solid;
    border-radius: 0 23px 23px 0;
    border-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    margin-left: -1px;
    background-color: #f7f7f7;
}

.search-button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.search-icon {
  width: 25px;
}

.voice-search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.voice-search-button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.voice-search-icon {
  width: 25px;
}

.right-section {
  height: 50px;
  width: 300px;
  /* background-color: lightblue; */
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2%;
}

.upload-icon {
  width: 25px;
  margin-right: 20px;
}

.notifications-icon {
  width: 25px;
  margin-right: 20px;
}

.profile-icon {
  width: 25px;
}
