.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.left-section {
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.menu {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  margin-left: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:hover {
  background-color: #cccccc;
  border-radius: 20px;
}

.menu-icon {
  width: 65%;
  padding: 5px;
}

.youtube-logo-icon {
  width: 32%;
  margin-left: 5%;
}

.middle-section {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-bar {
    width: 60%;
    height: 20px;
    border: solid;
    border-radius: 23px 0 0 23px;
    border-color: #cccccc;
    padding: 20px;
}

.search-bar::placeholder {
  font-size: 17px;
}

.search-button {
    width: 65px;
    height: 43px;
    border: solid;
    border-radius: 0 23px 23px 0;
    border-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    margin-left: -1px;
    background-color: #f7f7f7;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  width: 25px;
}

.voice-search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.voice-search-button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.voice-search-icon {
  width: 25px;
}

.right-section {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2%;
}

.upload-icon,
.notifications-icon {
  width: 25px;
  margin-right: 20px;
}

.profile-icon {
  width: 25px;
}

.search-button,
.voice-search-button,
.upload-container,
.notifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-container .tooltip,
.notifications-container .tooltip {
  position: absolute;
  background-color: #cccccc;
  padding: 8px 6px 8px 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  bottom: -45px;
  transition: opacity 0.15s;
  border-radius: 5px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.upload-container:hover,
.notifications-container,
.profile-container {
  cursor: pointer;
}