.nav-bar{
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 80px 80px 80px 1fr;
  /* background-color: blueviolet; */
}

.sidebar-icon {
  height: 80px;
  /* background-color: lightcyan; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-icon:hover {
  background-color: #cccccc;
}

.nav-bar-icon {
  width: 30%;
  margin-bottom: 7%;
}

.nav-bar-text {
  font-size: 11px;
}